USE [Tourismpedia]
GO
/****** Object:  Table [dbo].[TOURIS_TM_PARAMETER]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TOURIS_TM_PARAMETER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PARAMETER_CODE] [varchar](100) NOT NULL,
	[PARAMETER_DESCRIPTION] [varchar](500) NULL,
	[PARAMETER_VALUE] [varchar](500) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_MENU]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TOURIS_TM_MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MENU_NAME] [varchar](50) NOT NULL,
	[MENU_PARENT_ID] [int] NULL,
	[MENU_DESCRIPTION] [varchar](100) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_MENU_EPROC] UNIQUE NONCLUSTERED 
(
	[MENU_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_CATEGORY]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_CODE] [varchar](100) NOT NULL,
	[CATEGORY_NAME] [varchar](100) NOT NULL,
	[CATEGORY_DESCRIPTION] [varchar](500) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_COUNTRY]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_COUNTRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_NAME] [varchar](100) NOT NULL,
	[COUNTRY_CODE] [varchar](100) NOT NULL,
	[COUNTRY_DESCRIPTION] [varchar](500) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__TOURIS_T__3214EC275629CD9C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_SLIDESHOW]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_SLIDESHOW](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITTLE] [varchar](100) NOT NULL,
	[CONTENT_DESCRIPTION] [varchar](max) NULL,
	[CLASS] [varchar](100) NOT NULL,
	[PHOTO_PATH] [varchar](100) NOT NULL,
	[URL] [varchar](100) NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__TOURIS_TM_SLIDES__68487DD7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_USER]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TOURIS_TM_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[USER_MAIL] [varchar](100) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[IS_SUPER_ADMIN] [int] NOT NULL,
	[LAST_LOGIN] [datetime] NULL,
	[PASSWORD] [varchar](50) NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_USER_EPROC] UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC,
	[ROW_STATUS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_TESTIMONIAL]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_TESTIMONIAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TESTIMONI_DESCRIPTION] [varchar](max) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__TOURIS_TM_TESTIM__7C8480AE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_ROLE]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [varchar](50) NOT NULL,
	[ROLE_DESCRIPTION] [varchar](100) NOT NULL,
	[IS_ACTIVE] [int] NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
	[DEFAULT_SELECTED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_ROLE] UNIQUE NONCLUSTERED 
(
	[ROLE_NAME] ASC,
	[ROW_STATUS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_ROLE_MENU]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_ROLE_MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[MENU_ID] [int] NOT NULL,
	[IS_ACCESS] [int] NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_PROVINCE]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_PROVINCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[PROVINCE_NAME] [varchar](100) NOT NULL,
	[PROVINCE_CODE] [varchar](100) NOT NULL,
	[PROVINCE_DESCRIPTION] [varchar](500) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__TOURIS_TM_PROVIN__014935CB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_CITY]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_CITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROVINCE_ID] [int] NOT NULL,
	[CITY_NAME] [varchar](100) NOT NULL,
	[CITY_CODE] [varchar](100) NOT NULL,
	[CITY_DESCRIPTION] [varchar](500) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__TOURIS_T__3214EC275BE2A6F2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_DISTRICT]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_DISTRICT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CITY_ID] [int] NOT NULL,
	[DISTRICT_NAME] [varchar](100) NOT NULL,
	[DISTRICT_CODE] [varchar](100) NOT NULL,
	[DISTRICT_DESCRIPTION] [varchar](500) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__TOURIS_T__3214EC27619B8048] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_VILLAGE]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_VILLAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DISTRICT_ID] [int] NOT NULL,
	[VILLAGE_NAME] [varchar](100) NOT NULL,
	[VILLAGE_CODE] [varchar](100) NOT NULL,
	[VILLAGE_DESCRIPTION] [varchar](500) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__TOURIS_T__3214EC276EF57B66] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_SUB_CATEGORY]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_SUB_CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUB_CATEGORY_NAME] [varchar](100) NOT NULL,
	[SUB_CATEGORY_DESCRIPTION] [varchar](max) NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[VILLAGE_ID] [int] NOT NULL,
	[ADDRESS] [varchar](500) NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__TOURIS_TM_SUB_CA__5BE2A6F2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_USER_PROFILE]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_USER_PROFILE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID_ID] [int] NOT NULL,
	[PHOTO_PATH] [varchar](100) NULL,
	[GENDER] [char](1) NULL,
	[BORN] [datetime] NULL,
	[ADDRESS] [varchar](100) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[JOB] [varchar](100) NULL,
	[COMPANY] [varchar](100) NULL,
	[HOBBY] [varchar](100) NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__TOURIS_TM_USER_P__164452B1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_USER_EPROC_PROFILE] UNIQUE NONCLUSTERED 
(
	[USER_ID_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_USER_PROFILE_SOSMED]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TOURIS_TM_USER_PROFILE_SOSMED](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_PROFILE_ID] [int] NOT NULL,
	[SOSMED_NAME] [varchar](100) NOT NULL,
	[SOSMED_PATH] [varchar](100) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_USER_EPROC_PROFILE_SOSMED] UNIQUE NONCLUSTERED 
(
	[USER_PROFILE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_SUB_CATEGORY_PHOTO]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOURIS_TM_SUB_CATEGORY_PHOTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUB_CATEGORY_ID] [int] NOT NULL,
	[PHOTO_NAME] [varchar](500) NOT NULL,
	[PHOTO_DESCRIPTION] [varchar](max) NOT NULL,
	[PHOTO_PATH] [varchar](100) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__TOURIS_TM_SUB_CA__5FB337D6] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOURIS_TM_USER_DT]    Script Date: 02/15/2018 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TOURIS_TM_USER_DT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[IS_SUPER_ADMIN] [int] NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__286302EC]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_CATEGORY] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__5EBF139D]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_CITY] ADD  CONSTRAINT [DF__TOURIS_TM__ROW_S__5EBF139D]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__59063A47]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_COUNTRY] ADD  CONSTRAINT [DF__TOURIS_TM__ROW_S__59063A47]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__6477ECF3]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_DISTRICT] ADD  CONSTRAINT [DF__TOURIS_TM__ROW_S__6477ECF3]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__300424B4]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_MENU] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__30F848ED]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_PARAMETER] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__31EC6D26]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_PROVINCE] ADD  CONSTRAINT [DF__TOURIS_TM__ROW_S__31EC6D26]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__IS_AC__32E0915F]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_ROLE] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__33D4B598]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_ROLE] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__DEFAU__34C8D9D1]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_ROLE] ADD  DEFAULT ((0)) FOR [DEFAULT_SELECTED]
GO
/****** Object:  Default [DF__TOURIS_TM__IS_AC__35BCFE0A]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_ROLE_MENU] ADD  DEFAULT ((0)) FOR [IS_ACCESS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__36B12243]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_ROLE_MENU] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__693CA210]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_SLIDESHOW] ADD  CONSTRAINT [DF__TOURIS_TM__ROW_S__693CA210]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__CREAT__5CD6CB2B]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_SUB_CATEGORY] ADD  CONSTRAINT [DF__TOURIS_TM__CREAT__5CD6CB2B]  DEFAULT (getdate()) FOR [CREATED_TIME]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__5DCAEF64]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_SUB_CATEGORY] ADD  CONSTRAINT [DF__TOURIS_TM__ROW_S__5DCAEF64]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__CREAT__60A75C0F]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_SUB_CATEGORY_PHOTO] ADD  CONSTRAINT [DF__TOURIS_TM__CREAT__60A75C0F]  DEFAULT (getdate()) FOR [CREATED_TIME]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__619B8048]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_SUB_CATEGORY_PHOTO] ADD  CONSTRAINT [DF__TOURIS_TM__ROW_S__619B8048]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__37A5467C]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_TESTIMONIAL] ADD  CONSTRAINT [DF__TOURIS_TM__ROW_S__37A5467C]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF_TOURIS_TM_USER_IS_SUPER_ADMIN]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_USER] ADD  CONSTRAINT [DF_TOURIS_TM_USER_IS_SUPER_ADMIN]  DEFAULT ((0)) FOR [IS_SUPER_ADMIN]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__3A81B327]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_USER] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__3B75D760]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_USER_DT] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__3C69FB99]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_USER_PROFILE] ADD  CONSTRAINT [DF__TOURIS_TM__ROW_S__3C69FB99]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__3D5E1FD2]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_USER_PROFILE_SOSMED] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  Default [DF__TOURIS_TM__ROW_S__71D1E811]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_VILLAGE] ADD  CONSTRAINT [DF__TOURIS_TM__ROW_S__71D1E811]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
/****** Object:  ForeignKey [FK_TOURIS_TM_CITY_TOURIS_TM_PROVINCE]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_CITY]  WITH CHECK ADD  CONSTRAINT [FK_TOURIS_TM_CITY_TOURIS_TM_PROVINCE] FOREIGN KEY([PROVINCE_ID])
REFERENCES [dbo].[TOURIS_TM_PROVINCE] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_CITY] CHECK CONSTRAINT [FK_TOURIS_TM_CITY_TOURIS_TM_PROVINCE]
GO
/****** Object:  ForeignKey [FK_TOURIS_TM_DISTRICTS_TOURIS_TM_DISTRICTS]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_DISTRICT]  WITH CHECK ADD  CONSTRAINT [FK_TOURIS_TM_DISTRICTS_TOURIS_TM_DISTRICTS] FOREIGN KEY([CITY_ID])
REFERENCES [dbo].[TOURIS_TM_CITY] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_DISTRICT] CHECK CONSTRAINT [FK_TOURIS_TM_DISTRICTS_TOURIS_TM_DISTRICTS]
GO
/****** Object:  ForeignKey [FK_TOURIS_TM_PROVINCE_TOURIS_TM_COUNTRY]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_PROVINCE]  WITH CHECK ADD  CONSTRAINT [FK_TOURIS_TM_PROVINCE_TOURIS_TM_COUNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[TOURIS_TM_COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_PROVINCE] CHECK CONSTRAINT [FK_TOURIS_TM_PROVINCE_TOURIS_TM_COUNTRY]
GO
/****** Object:  ForeignKey [FK_MENU_ROLE_EPROC]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_ROLE_MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_ROLE_EPROC] FOREIGN KEY([MENU_ID])
REFERENCES [dbo].[TOURIS_TM_MENU] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_ROLE_MENU] CHECK CONSTRAINT [FK_MENU_ROLE_EPROC]
GO
/****** Object:  ForeignKey [FK_ROLE]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_ROLE_MENU]  WITH CHECK ADD  CONSTRAINT [FK_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[TOURIS_TM_ROLE] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_ROLE_MENU] CHECK CONSTRAINT [FK_ROLE]
GO
/****** Object:  ForeignKey [FK_TOURIS_TM_SUB_CATEGORY_TOURIS_TM_CATEGORY]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_SUB_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_TOURIS_TM_SUB_CATEGORY_TOURIS_TM_CATEGORY] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[TOURIS_TM_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_SUB_CATEGORY] CHECK CONSTRAINT [FK_TOURIS_TM_SUB_CATEGORY_TOURIS_TM_CATEGORY]
GO
/****** Object:  ForeignKey [FK_TOURIS_TM_SUB_CATEGORY_TOURIS_TM_VILLAGE]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_SUB_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_TOURIS_TM_SUB_CATEGORY_TOURIS_TM_VILLAGE] FOREIGN KEY([VILLAGE_ID])
REFERENCES [dbo].[TOURIS_TM_VILLAGE] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_SUB_CATEGORY] CHECK CONSTRAINT [FK_TOURIS_TM_SUB_CATEGORY_TOURIS_TM_VILLAGE]
GO
/****** Object:  ForeignKey [FK_TOURIS_TM_SUB_CATEGORY_PHOTO_TOURIS_TM_SUB_CATEGORY]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_SUB_CATEGORY_PHOTO]  WITH CHECK ADD  CONSTRAINT [FK_TOURIS_TM_SUB_CATEGORY_PHOTO_TOURIS_TM_SUB_CATEGORY] FOREIGN KEY([SUB_CATEGORY_ID])
REFERENCES [dbo].[TOURIS_TM_SUB_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_SUB_CATEGORY_PHOTO] CHECK CONSTRAINT [FK_TOURIS_TM_SUB_CATEGORY_PHOTO_TOURIS_TM_SUB_CATEGORY]
GO
/****** Object:  ForeignKey [FK_ROLE_USER_DETAIL]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_USER_DT]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_USER_DETAIL] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[TOURIS_TM_ROLE] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_USER_DT] CHECK CONSTRAINT [FK_ROLE_USER_DETAIL]
GO
/****** Object:  ForeignKey [FK_USER_EPROC_PROFILE]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_USER_PROFILE]  WITH CHECK ADD  CONSTRAINT [FK_USER_EPROC_PROFILE] FOREIGN KEY([USER_ID_ID])
REFERENCES [dbo].[TOURIS_TM_USER] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_USER_PROFILE] CHECK CONSTRAINT [FK_USER_EPROC_PROFILE]
GO
/****** Object:  ForeignKey [FK_USER_EPROC_PROFILE_SOSMED]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_USER_PROFILE_SOSMED]  WITH CHECK ADD  CONSTRAINT [FK_USER_EPROC_PROFILE_SOSMED] FOREIGN KEY([USER_PROFILE_ID])
REFERENCES [dbo].[TOURIS_TM_USER_PROFILE] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_USER_PROFILE_SOSMED] CHECK CONSTRAINT [FK_USER_EPROC_PROFILE_SOSMED]
GO
/****** Object:  ForeignKey [FK_TOURIS_TM_VILLAGE_TOURIS_TM_DISTRICTS]    Script Date: 02/15/2018 15:57:36 ******/
ALTER TABLE [dbo].[TOURIS_TM_VILLAGE]  WITH CHECK ADD  CONSTRAINT [FK_TOURIS_TM_VILLAGE_TOURIS_TM_DISTRICTS] FOREIGN KEY([DISTRICT_ID])
REFERENCES [dbo].[TOURIS_TM_DISTRICT] ([ID])
GO
ALTER TABLE [dbo].[TOURIS_TM_VILLAGE] CHECK CONSTRAINT [FK_TOURIS_TM_VILLAGE_TOURIS_TM_DISTRICTS]
GO
